/**
    - Apply to boxes
    transition: .5s cubic-bezier(0, 0.9, 0.6, 0.76);
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 0.9, 0.6, 0.76);
    transition-delay: 0s;

    - Figure out how to do the translation thingy for the contents boxes
    - Make boxes and actually do effects to make variation
**/

h1, h2, h3, h4 {
    font-family: 'Cutive Mono', monospace;
}

.MainHeader {
    font-size: 40px;
    color: #DAC1E3;
    text-decoration: underline;
}

.SubHeaderA {
    font-size: 25px;
    color: #DAC1E3;
    text-decoration: underline;
}

.SubHeaderB {
    font-size: 20px;
    color: #DFD5E1;
    text-decoration: underline;
}

.Contents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    text-align: center;
}

.Contents2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    text-align: center;
}

.Tab {
    border: 1px solid black;
    text-align: center;
    font-size: 10px;
    margin: 0 0 0 0;
    background-color: #59464F;
    transition: background-color .5s ease;
}

.Tab:hover {
    background-color: black;
}

a:link, a:visited, a:hover {
    color: #ffffff;
}

ul {
    text-align: left;
}

.BuyButton {
    border: 1px solid black;
    text-align: center;
    padding: 0px, 0px, 0px, 0px;
    margin: 12px 75px 25px 75px;
    background-color: #59464F;
    transition: background-color .5s ease;
}

.BuyButton:hover {
    background-color: black;
}

.Gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    image-resolution: 
}

.SortsOutMargin {
    margin: 0px 0px 25px 0px;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
}

p {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}
 
div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    text-align: center;
    font-size: 7px;
}

img {
    border-radius: 15px;
    transition: filter .5s ease-in-out;
}

img:hover {
    filter: blur(2px) grayscale(50%);
}